/* Global  */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}
*:focus {
    outline: none;
}

body{

    background-color: #FFE1BB;
}
.cream{
    background-color: #ffffff; 

}
.orange{
    background-color: #FC9401; 

}
.grey{
    background-color: #F9F9FB; 
    color: #FC9401;
}
.grey:hover{
    background-color: #FC9401; 
    color: #F9F9FB;
}

.form-rows{
    width: 60%;
    height: 35px;
    border-radius: 30px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
.message-box{
    color: white;
    width: 60%;
    height: 30px;
    background-color: #FC9401;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-indent: 10px;
    padding-top: 10px;

}
.inversed-message{
    color: #FC9401;
    background-color: white;
}
/* Home */
.container{
    width: 80vw;
    height: 90vh;
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;

}
.left-navbar{
    width: 10%;
    background-color: white;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    overflow-y: auto;
}
.left-navbar button{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
    background-color: transparent;
}
.mid-container{
    width: 60%;
    height: 100%;
    background-color: #F9F9FB;
    overflow-y: auto;

}
.right-container{
    width: 30%;
    height: 100%;
    background-color: white;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

}
.nav-items{
    width: 35%;
    height: 6%;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.nav-items:hover .icon-wallet{
    width: 100%;
    height: 100%;
    background-image: url(assets/wallet-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-items:hover {
    width: 35%;
    height: 6%;
    border-radius: 50%;
    margin-top: 25px;
    background-color: #FC9401;
    margin-left: auto;
    margin-right: auto;
}
.nav-items-logout{
    width: 35%;
    height: 6%;
    border-radius: 50%;
    margin-top: 280%;
    margin-left: auto;
    margin-right: auto;
}
.nav-items-logout:hover{
    width: 35%;
    height: 6%;
    background-color: #FC9401;
    border-radius: 50%;
    margin-top: 280%;
    margin-left: auto;
    margin-right: auto;
}
.nav-items-selected{
    width: 35%;
    height: 6%;
    border-radius: 50%;
    background-color: #FC9401;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.items-icon{
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
}
.icon-home{
    width: 100%;
    height: 100%;
    background-image: url(assets/home.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-home-selected{
    width: 100%;
    height: 100%;
    background-image: url(assets/home-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-wallet{
    width: 100%;
    height: 100%;
    background-image: url(assets/wallet.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-wallet-selected{
    width: 100%;
    height: 100%;
    background-image: url(assets/wallet-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-trans{
    width: 100%;
    height: 100%;
    background-image: url(assets/trans.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-items:hover .icon-trans{
    width: 100%;
    height: 100%;
    background-image: url(assets/trans-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-wallet-selected{
    width: 100%;
    height: 100%;
    background-image: url(assets/trans-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-logout{
    width: 100%;
    height: 100%;
    background-image: url(assets/logout.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-items-logout:hover .icon-logout{
    width: 100%;
    height: 100%;
    background-image: url(assets/logout-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.mid-container .top{
    margin-top: 25px;
    height: 5%;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.top .title{
    width: 60%;
    height: 99%;
    padding-top: 1%;
    font-size: 1.5em;
    margin-left: 5%;

}
.searchbar-container{
    width: 45%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    background-color: white;
    margin-right: 5%;
}
.searchbar{
    width: 95%;
    height: 100%;
    border-radius: inherit;
    border: none;
    padding-left: 5%;
    font-size: 1em;
}
.search-icon{
    width: 20%;
    height: 50%;
    margin-top: 3%;
    margin-left: 2%;
    background-image: url(assets/search.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.banner{
    width: 90%;
    height: 200px;
    margin-top: 50px;
    background-image: url(assets/banner.png);
    background-size: cover;
    margin-left: auto;
    margin: auto;
    border-radius: 40px;
}
.welcome-text{
    float: right;
    width: 40%;
    height: 35%;
    margin-right: 5%;
    margin-top: 5%;
    color: white;
}
.category-row{
    width: 90%;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.category-card{
    float: left;
    margin-right: 20px;
    height: 93%;
    padding-top: 2%;
    width: 145px;
    border-radius: 20px;
    background-color: white;
}
.category-card:hover{
    float: left;
    color: white;
    margin-right: 20px;
    height: 93%;
    padding-top: 2%;
    width: 145px;
    border-radius: 20px;
    background-color: #FC9401;
}
.category-icon{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9F9FB;
}
.category-name{
    height: 20px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.category-go{
    height: 30px;
    width: 40px;
    font-size: 1.2em;
    color: white;
    border-radius: 30px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    background-color: #FC9401;
}
.category-card:hover .category-go{
    height: 30px;
    width: 40px;
    font-size: 1.2em;
    color: #FC9401;
    border-radius: 30px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    background-color: white;
}
.items-row{
    width: 90%;
    height: 200px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border:solid black 1px;
}

/* Index */
.login-card{
    width: 45vw;
    height: 55vh;
    margin-top: 20vh;
    border-radius: 10vmin;
    background-color: #F9F9FB;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}
.login-card h1{
    text-align: center;
    padding-top: 5%;
}

.login-card .text-input{
    width: 100%;
    height: inherit;
    border-radius: inherit;
    border: none;
    padding-left: 5%;
}
.login-buttons:hover{
    width: 15%;
    margin-top: 40px;
    height: 40px;
    border: none;
    font-weight: bold;
    background-color: #FC9401;
    margin-right: 4%;
    color: white;
    border-radius: 20px;
    float: right;
}
.login-buttons{
    font-weight: bold;
    width: 15%;
    margin-top: 40px;
    height: 40px;
    border: none;
    background-color: white;
    margin-right: 4%;
    color: #FC9401;
    border-radius: 20px;
    float: right;
}
/* Register */
.regis-tall{
    margin-top: 15vh;
    height: 65vh;
}